<!-- An angular navbar based on bootstrap -->
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand">Kapacino</a>

                    <div class="nav-collapse">
                        <ul class="nav">
                            <li><a href="../places.html">Places</a></li>
                            <li><a href="../articles.html">Articles</a></li>
                            <li><a href="../blogs.html">Blogs</a></li>
                            <li><a href="../events.html">Events</a></li>
                            <li><a href="../videos.html">Videos</a></li>
                            <li><a href="../listings.html">Listings</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>