<!Doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="Components.css">
	</head>

	<body>
		<div id="trending-grey-box">
			<img id="trending-img" src="http://www.pet-happy.com/files/up/2014/09/scared-cat.jpg">
			<div id="trending-text-body">
				<h4 id="trending-heading">The Whole World Is Gripped in Suspense</h4>
				<p id="trending-hits">
					<span id="hits-span">3,000 HITS
				</p></span>
				<p id="trending-article-preview">
					It was never supposed to turn out like this.It was never supposed to turn out like this.It was never supposed to turn out like this.It was never supposed to turn out like this.  
				</p>
				<font color="white">Ryan Medeiros - <span id="trending-time">3 hours ago</span></font>
				
			</div>
		</div>
	</body>
</html>


