<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="Components.css">
	</head>

	<body>
		<p id="hits">
			<span id="hits-span">3,000 HITS
		</p></span>

		<img id="whats-happening-img" src="http://icatcare.org/sites/default/files/kcfinder/images/images/cat.jpg">
		
		<h1 id="whats-happening-heading">Photogenic Cat</h1>
		
		<p id="article-preview">
			Cat is photogenic. Cat is photogenic. Cat is photogenic. Cat is photogenic. Cat is photogenic. Cat is photogenic. Cat is photogenic.  
		</p>

		<p id="timestamp">
			Ryan Medeiros - 3 hours ago
		</p>
	</body>
</html>